<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" th:href="@{style.css}" >
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" th:href="@{vendor/bootstrap/css/bootstrap.min.css}">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" th:href="@{vendor/fontawesome-free/css/all.min.css}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" th:href="@{vendor/magnific-popup/magnific-popup.css}">

    <!-- Custom styles for this template -->
    <link href="css/freelancer.min.css" rel="stylesheet" th:href="@{css/freelancer.min.css}">


    <!--<script th:inline="javascript"
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>


    <script th:inline="javascript">
        function charger(){
            ("#navbar").load("navbar.html");
            ("#footer").load("footer.html");
        };
        window.onload = charger;
    </script>-->



</head>
<body>

<header th:insert="header4.html :: header4"> </header>
<!--<div th:include="navbar::navbar"></div>-
<div id=navbar></div>-->
<!-- Header -->

<div class="container">
    <p><br/><br/><br/><br/><br/><br/></p>
    <h2 class="text-center text-uppercase text-secondary mb-0">Liste des utilisateurs</h2>
    <hr class="star-dark mb-5">
    <div class="row">

        <div class="col-lg-8 mx-auto">



            <div class="col-lg-10  mx-auto">
                <table class="table">
                    <tr>
                        <th>ID User</th>
                        <th>email</th>
                        <th>User Name</th>
                        <th>User Type</th>
                        <th>Supprimer</th>

                    </tr>
                    <tr th:each="user:${listeUser}">
                        <td th:text="${user.IDUser}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.type}"></td>
                        <td>  <a th:href="@{/deleteUser(id_user=${user.IDUser})}">Supprimer</a></td>
                    </tr>
                </table>

                <table class="table">

                    <tr>
                        <th>Gratification</th>
                        <th>Entreprise</th>
                        <th> Ville</th>
                        <th>Date</th>
                        <th>Durée</th>
                        <th>Commentaire</th>
                        <th>Parcours</th>
                        <th>Poste</th>
                        <th>Note</th>
                    </tr>

                    <tr th:each="stage:${list}">

                        <td scope="row" th:text="${stage.gratification}"></td>
                        <td th:text="${stage.entreprise}" ></td>
                        <td th:text="${stage.localisation}"></td>
                        <td th:text="${stage.date}"></td>
                        <td th:text="${stage.duree}"></td>
                        <td th:text="${stage.commentaire}"></td>
                        <td th:text="${stage.parcours}"></td>
                        <td th:text="${stage.poste}"></td>
                        <td th:text="${stage.note}"></td>
                        <td>  <a th:href="@{/deleteStage(id_stage=${stage.id_stage})}">Supprimer</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<p><br/><br/><br/></p>





<footer th:insert="footer.html :: footer"> </footer>



</body>


