<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Afficher Stage</title>
</head>
<body>
<h1>Afficher Stage</h1>

<table>
    <tr>
        <th>Stages</th>
    </tr>
    <tr th:each="stage:${listeStage}">
        <td th:text="${stage.poste}"></td>
        <td th:text="${stage.entreprise}"></td>
        <td th:text="${stage.localisation}"></td>
        <td th:text="${stage.date}"></td>
        <td th:text="${stage.duree}"></td>
        <td th:text="${stage.commentaire}"></td>
        <td th:text="${stage.gratification}"></td>
        <td th:text="${stage.parcours}"></td>
        <td th:text="${stage.note}"></td>
    </tr>


</table>



</body>
</html>