<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Afficher Stages</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <link href="css/style1.min.css" rel="stylesheet">
</head>
<body>

    <span th:if="${type == '1'}">
            <header th:insert="header4.html :: header4"> </header>
    </span>

    <span th:unless="${type == '1'}">
            <header th:insert="header2.html :: header2"> </header>
    </span>

<br><br><br>
<section id="subscribe">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Afficher Stage</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form class="form2" method="post" th:action="@{/rechercherStage}" th:object="${stage}" >
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>email</label>
                            <p>Poste: <input type="text" th:field="*{poste}"  name="poste"/></p>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Entreprise</label>
                            <p>Entreprise: <input type="text" th:field="*{entreprise}" name="entreprise"/></p>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Rechercher</button>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                </form>
                <br>
                <div class="col-lg-8  mx-auto">
                    <table class="table">

                        <tr>
                            <th>Poste</th>
                            <th>Note</th>
                            <th>Entreprise</th>
                            <th> Ville</th>
                            <th>Date</th>
                            <th>Durée</th>
                            <th>Commentaire</th>
                            <th>Gratification</th>
                            <th>Parcours</th>
                        </tr>

                        <tr>
                        <tr th:each="stage:${listeStage}">
                            <td scope="row" th:text="${stage.poste}"></td>
                            <td th:text="${stage.note}"></td>
                            <td th:text="${stage.entreprise}"></td>
                            <td th:text="${stage.localisation}"></td>
                            <td th:text="${stage.date}"></td>
                            <td th:text="${stage.duree}"></td>
                            <td th:text="${stage.commentaire}"></td>
                            <td th:text="${stage.gratification}"></td>
                            <td th:text="${stage.parcours}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:insert="footer.html :: footer"> </footer>
</body>
</html>