<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fomulaire Ajouter Stage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Ajouter un stage</h1>
<!--/* Workaround for bug https://AjouterStage.jetbrains.com/issue/IDEA-132738 -->
<!--@thymesVar id="stage" type="com.stage.servicestage.model.Stage"-->
<!--@thymesVar id="id" type="int"-->
<!--@thymesVar id="poste" type="String"-->
<!--@thymesVar id="entreprise" type="String"-->
<!--@thymesVar id="localisation" type="String"-->
<!--@thymesVar id="date" type="String"-->
<!--@thymesVar id="duree" type="String"-->
<!--@thymesVar id="commentaire" type="String"-->
<!--@thymesVar id="gratification" type="String"-->
<!--@thymesVar id="parcours" type="String"-->
<!--@thymesVar id="note" type="String"-->
<!--@thymesVar id="entretiens" type="String"-->
<!--@thymesVar id="competence" type="String"-->
<!--@thymesVar id="decouverte" type="String"-->
<!--*/-->

<form class="form2" method="post" th:action="@{/ajouterStage}" th:object="${ajouterStage}" >
    <!--<p>Id: <input type="int" name="id" /></p>-->
    <p>Poste: <input type="text" name="poste"/></p>
    <p>Entreprise: <input type="text" name="entreprise"/></p>
    <p>Localisation: <input type="text" name="localisation" /></p>
    <!--<p>Date: <input type="text" th:field="*{date}"/></p>
    <p>Durée <input type="text" th:field="*{duree}"/></p>
    <p>Commentaire: <input type="text" th:field="*{commentaire}" /></p>
    <p>Gratification <input type="text" th:field="*{gratification}"/></p>
    <p>Parcours: <input type="text" th:field="*{parcours}"/></p>
    <p>Note: <input type="text" th:field="*{note}"/></p>
    <p>Entretiens: <input type="text" th:field="*{entretiens}"/></p>
    <p>Compétences: <input type="text" th:field="*{competence}"/></p>
    <p>Découverte: <input type="text" th:field="*{decouverte}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset" /></p> -->
    <button type="submit" class="submit" align="center">Validate</button>

</form>

</body>
</html>