<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!--/* Workaround for bug https://AjouterStage.jetbrains.com/issue/IDEA-132738 -->
<!--@thymesVar id="stage" type="com.stage.servicestage.model.Stage"-->
<!--@thymesVar id="id" type="int"-->
<!--@thymesVar id="poste" type="String"-->
<!--@thymesVar id="entreprise" type="String"-->
<!--@thymesVar id="localisation" type="String"-->
<!--@thymesVar id="date" type="String"-->
<!--@thymesVar id="duree" type="String"-->
<!--@thymesVar id="commentaire" type="String"-->
<!--@thymesVar id="gratification" type="String"-->
<!--@thymesVar id="parcours" type="String"-->
<!--@thymesVar id="note" type="String"-->
<!--@thymesVar id="entretiens" type="String"-->
<!--@thymesVar id="competence" type="String"-->
<!--@thymesVar id="decouverte" type="String"-->
<!--*/-->


    <head>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/style.css">
        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

        <!-- Plugin CSS -->
        <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template -->
        <link href="css/freelancer.min.css" rel="stylesheet">

        <title>Ajouter un stage</title>

    </head>
    <body>
    <header th:insert="header2.html :: header2"> </header>


    <section id="subscribe">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Ajouter un stage</h2>
            <hr class="star-dark mb-5">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <form name="sentMessage" id="contactForm" novalidate="novalidate" method="post" th:action="@{/ajouterStage}" th:object="${ajouterStage}">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Nom du poste</label>
                                <input type="text" name="poste" placeholder="Ton poste"/>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Entreprise</label>
                                <input type="text" name="entreprise" placeholder="Ton entreprise"/>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Localisation</label>
                                <input type="text" name="localisation" placeholder="La ville du stage" />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Date du début</label>
                                <input type="date"  name="date" placeholder="Date debut du stage"/>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Durée</label>
                                <input type="text"  name="duree" placeholder="Durée du stage"/>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Commentaires</label>
                                <input type="text" name="commentaire" placeholder="Commentaires"/>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Gratification</label>
                                <input type="Integer"  name="gratification" placeholder="Ton salaire en euros"/>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Parcours</label>
                                <input type="text"  name="parcours" placeholder="Ton parcours"/>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Note</label>
                                <input type="Integer" name="note" placeholder ="La note que tu mets a ton stage"/>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer th:insert="footer.html :: footer"> </footer>
    </body>
</html>
