<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="subscribe.css">
    <title>Inscription</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/freelancer.min.css" rel="stylesheet">
</head>

<body>


<div class="main">
    <p class="sign" align="center">Inscription</p>

    <form class="form1" method="post" th:action="@{/inscription}" th:object="${inscriptionForm}" >
        <div class="block_left">
            <input class="un " type="text" align="center" placeholder="mail" name="email">
            <input class="un " type="text" align="center" placeholder="confirmMail" name="confirmMail">
            <input class="pass" type="password" align="center" placeholder="password" name="password">
            <input class="pass" type="password" align="center" placeholder="confirmPassword" name="confirmPassword">
            <input class="pass" type="text" align="center" placeholder="username" name="username">
            <button type="submit" class="submit" align="center">Validate</button>
        </div>
    </form>

</div>
<header th:insert="header3.html :: header"> </header>
<section id="subscribe">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Inscription</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form name="sentMessage" id="contactForm" novalidate="novalidate">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Nom d'utilisateur</label>
                            <input class="form-control" id="username" type="text" placeholder="Entre ton nom" required="required" data-validation-required-message="Entre ton nom" name="username">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Adresse email</label>
                            <input class="form-control" id="email2" type="email" placeholder="Entre ton adresse email" required="required" data-validation-required-message="Entre ton adresse email" name="email">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Confirmez votre email</label>
                            <input class="form-control" id="email1" type="email" placeholder="Confirme ton email" required="required" data-validation-required-message="Entre ton adresse email" name="confirmMail">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Mot de passe</label>
                            <input class="form-control" id="pas1" type="password" placeholder="Entre ton Mot de passe" required="required" data-validation-required-message="Entre ton Mot de passe" name="password">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div><div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                        <label>Confirme ton mot de passe</label>
                        <input class="form-control" id="email" name="confirmPassword" placeholder="Confirme ton mot de passe" required="required" data-validation-required-message="Confirme ton mot de passe" type="password">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Send</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>



<footer th:insert="footer.html :: header"> </footer>
<a href="connexion.html" style="color:white">suite</a>

</body>

</html>