<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fomulaire Rechercher Stage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Rechercher un stage</h1>


<form class="form2" method="post" th:action="@{/afficherStage}" th:object="${stage}" >
    <p>Poste: <input type="text" th:field="*{poste}" name="poste"/></p>
    <p>Entreprise: <input type="text" th:field="*{entreprise}" name="entreprise"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset" /></p>
    <button type="submit" class="submit" align="center">Validate</button>

</form>

</body>